.list-item {
  width: 300px;
  font-size: 20px;
  // text-align: center;
  line-height: 50px;
  border-top: 1px solid #e5e6eb;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  overflow: hidden;
  .avatar-box {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 16px;
    flex-shrink: 0;
    font-size: 0;
    .image {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }
  .text-box {
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    overflow: hidden;
    height: 100%;
  }
  .http-image {
    width: 300px;
    height: auto;
  }
}
